# For more information on code owners, see here
# https://help.github.com/articles/about-codeowners

# General Owners
*           @Foggalong @palob

# Icon Owners
/icons/     @Foggalong @palob
/templates/ @Foggalong @palob

# Python Owners
*.py        @Foggalong @bil-elmoussaoui
