# For more information on code owners, see here
# https://help.github.com/articles/about-codeowners

# General Owners
*           @palob

# Icon Owners
/icons/     @palob
/templates/ @palob

# Python Owners
*.py        @bil-elmoussaoui
