root = true

[*.{json,md,py,svg,yml}]
end_of_line = lf
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md,yml}]
indent_size = 2

[*.svg]
indent_size = 1

[*.{py,json}]
indent_size = 4
