# Editor Junk
*~
*.bak
*.swp
.vscode/
__pycache__/*
*.pyc

# Tag Directories
icons/tag.*

# Output Directories
numix-circle.icns/
numix-icon-theme-circle/
com.numix.icons_circle/
numix-square.icns/
numix-icon-theme-square/
com.numix.icons_square/
numix-shine.icns/
numix-circle.icns/
numix-square.icns/
numix-utouch.icns/
