Source: discreete-linux-icons
Section: misc
Priority: optional
Maintainer: Discreete Linux Team <info@discreete-linux.org>
Build-Depends: debhelper (>= 9), gir1.2-rsvg-2.0 | inkscape, python-cairo | inkscape
Standards-Version: 3.9.5
Homepage: https://www.discreete-linux.org

Package: discreete-linux-icons
Architecture: all
Depends: ${misc:Depends}, numix-icon-theme
Description: Discreete Linux icon theme
 
