name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('test-requirements.txt') }}

      - name: Install dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get install -y python3-pip python3-gi gir1.2-gtk-3.0 libgtk-3-dev libgirepository1.0-dev
          pip3 install --upgrade --upgrade-strategy eager -r test-requirements.txt

      - name: Test
        run: |
          sh ./tests/pycodestyle.sh
          python3 ./tests/schema.py
          python3 ./tests/db_entry.py
          python3 ./tests/icons_entry.py
          python3 ./tests/ordered_db.py
          python3 ./tests/icon_cache.py
